.formButton {
    border-radius: .25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .25rem .5rem;
    background-color: lime;
    color: black;
    font-size: 1rem;
    font-weight: 700;
}

.formButton:disabled {
    background-color: lightslategray;
    color: white;
}

.formButton:hover {
    filter: brightness(0.8);
}