main {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

main form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

main form > div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

main p {
    text-align: center;
    color: violet;
    font-size: 2rem;
}